*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

    @media only screen and (max-width:768px){
        .responsives{
            width:450px;
            /* background-color: red; */
        }

    }
